.img-pass{
    max-width: 50px;
    max-height: 50px;
}

.input-password{
    font-family: 'pass' ;
}

.folder-name{
    text-transform: uppercase;
    font-weight: 400;
}
.manita{
    cursor: pointer;
}

.bc{
   padding: 2px!important;
}

.block-container{

}

.content{
    visibility: hidden;
}
.block-container:hover{
    animation: bounceIn .5s ease-in-out 0s 1 alternate!important;
    box-shadow: 0 .2rem 1rem  black!important;
}

.block-container:hover .content{
    visibility: visible;
}
img.folder-image{
    opacity: .5;
    filter: grayscale(60%);
}
