<h1 class="display-4">My Passwords</h1>
<button type="button" (click)="navigateFolder(p)"  class="btn btn-link btn-sm bc"  *ngFor="let p of dataService?.accessedFolders"  (drop)="drop($event, p)" 
(dragover)="allowDrop($event)" (dragenter)="dragEnterFont($event)" (dragleave)="dragLeaveFont($event)" (drop)="dropEndFont($event)">{{p.folderName}} /</button>

<div class="row">
    <div class="col">
        <div class="btn-toolbar mb-3 float-right" role="toolbar" aria-label="Toolbar with button groups">
            <!-- <div class="input-group">
                <div class="input-group-prepend">
                <div class="input-group-text" id="btnGroupAddon">@</div>
                </div>
                <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon">
            </div> -->
           
            <div class="btn-group mr-2 " role="group" aria-label="First group">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#divFile" (click)="newPassword()">Add Pasword</button>
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#divFolder" (click)="newFolder()">Add Folder</button>
                
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let p of dataService?.currentFolder?.folders" >
        <div class="card border border-info bg-secondary shadow  m-2 manita block-container dropzone " (click)="folderEnter(p)" (drop)="drop($event, p)" 
        (dragover)="allowDrop($event)" >
            <!-- <div class="text-center text-warning" style="margin-top: 50px;">
                
                <img src="" alt="Folder" class="folder-image" >
            </div>-->
            <img src="../../assets/MainPageSmall.png" class="card-img-top  folder-image" alt="Folder" >
            <div class="card-img-overlay" (dragenter)="dragEnter($event)" (dragleave)="dragLeave($event)" (drop)="dropEnd($event)" > 
                <h5 class="card-title font-weight-boold text-white">{{p.folderName}}</h5>
                <p class="card-text  content small font-italic text-white">{{p.folderNotes}}</p>
                <div style="position: absolute; justify-content: flex-end; margin-bottom: 5px; " class="btn-toolbar small content  fixed-bottom" role="toolbar" aria-label="Toolbar">
                    <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Toolbar">
                     
                        <button type="button" class="btn btn-info mx-1" (click)="showEditFolder($event, p)" title="Edit folder">
                            <fa-icon [icon]="editIcon" ></fa-icon>
                        </button>
                        <button type="button" class="btn btn-danger" (click)="deleteFolder($event, p)" title="Delete folder">
                            <fa-icon [icon]="deleteIcon" ></fa-icon>
                        </button>
                    </div>
                </div>
              </div>
              

        </div>
    </div>
</div>
<div class="row"  >
    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let p of dataService?.currentFolder?.passwords" >
        <div class="card m-1  shadow   block-container" draggable="true" (dragstart)="drag($event,p)"  >            
            <div class="card-body small  border-light">
                <div>
                        <button type="button" class="btn btn-link btn-sm text-info" (click)="launchApp(p)" >{{p.fileUrl}}</button> 
                        <button type="button" class="btn btn-link btn-sm float-right content text-warning" (click)="addBookmark(p)" title="Add bookmark" *ngIf="!isBookmark(p)" >
                            <fa-icon [icon]="favIcon" ></fa-icon>
                        </button> 
                        <button type="button" class="btn btn-link btn-sm float-right content text-danger " (click)="removeBookmark(p)" title="Remove bookmark" *ngIf="isBookmark(p)">
                            <fa-icon [icon]="removeFavIcon" ></fa-icon>
                        </button> 
                </div>
                <hr>
                <div >
                    <label for="validationTooltipUsername" class="font-weight-lighter">Username</label>
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control form-control-sm input-password"  #userNameInput [(ngModel)]="p.fileUserName" disabled>
                        <div class="input-group-prepend">
                            <button class="btn btn-link btn-sm input-group-text" (click)="viewPassword(userNameInput)" title="View text">
                                <fa-icon [icon]="viewPassIcon" ></fa-icon>
                            </button>
                            <button class="btn btn-link btn-sm input-group-text" (click)="copy(userNameInput)" itle="Copy">
                                <fa-icon [icon]="copyIcon" ></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div >
                    <label for="validationTooltipUsername" class="font-weight-lighter">Password</label>
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control form-control-sm input-password"  #passwordInput [(ngModel)]="p.filePassword" disabled>
                        <div class="input-group-prepend">
                            <button class="btn btn-link btn-sm input-group-text" (click)="viewPassword(passwordInput)" title="View text">
                                <fa-icon [icon]="viewPassIcon" ></fa-icon>
                            </button>
                            <button class="btn btn-link btn-sm input-group-text" (click)="copy(passwordInput)" title="Copy">
                                <fa-icon [icon]="copyIcon" ></fa-icon>
                            </button>
                           
                        </div>
                    </div>
                </div>
                <div >
                    <label for="validationTooltipUsername" class="font-weight-lighter">Notes</label>
                    <div class="input-group input-group-sm">
                        <textarea rows="1" class="form-control form-control-sm font-weight-lighter"  #notesInput [(ngModel)]="p.fileNotes" disabled></textarea>
                        <!-- <div class="input-group-prepend">
                            <button class="btn btn-link input-group-text" (click)="copy(notesInput)">
                                <fa-icon [icon]="copyIcon" ></fa-icon>
                            </button>
                        </div> -->
                    </div>
                </div>
                <div class="pt-2">
                    <div class="btn-toolbar float-right content" role="toolbar" aria-label="Toolbar">
                        <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Toolbar">
                            <button type="button" class="btn btn-info" (click)="showEditPassword(p)" title="Edit password">
                                <fa-icon [icon]="editIcon" ></fa-icon>
                            </button>
                            <button type="button" class="btn btn-info mx-1" (click)="showSharePassword(p)" title="Share password" >
                                <fa-icon [icon]="shareIcon" ></fa-icon>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" (click)="delete(p)" title="Delete password">
                                <fa-icon [icon]="deleteIcon" ></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="modal" tabindex="-1" role="dialog" id="divFile">
    <form novalidate (ngSubmit)="savePassword()" [formGroup]="fileForm" autocomplete="anyrandomstring">

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add Password</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
                <div class="form-group">
                    <label for="txtUrl">URL*:</label>
                    <input autocomplete="false" type="url" class="form-control" id="txtUrl" placeholder="Enter url"  formControlName="fileUrl"
                        [ngClass]="{'is-invalid':(fileUrl.touched || fileUrl.dirty) && !fileUrl.valid}" />
                    <span class="invalid-feedback" *ngIf="fileUrl.invalid && (fileUrl.touched || fileUrl.dirty) ">
                        <span *ngIf="fileUrl.errors.required">URL is required</span>
                        <span *ngIf="fileUrl.errors.maxlength">The maximum length is 128</span>
                    </span>
                </div>
                <div class="form-group">
                    <label for="txtUsename_">Username:</label>
                    <input  autocomplete="false" type="text" class="form-control" id="txtUsename_" placeholder="Enter username"  formControlName="fileUserName"
                        [ngClass]="{'is-invalid':(fileUserName.touched || fileUserName.dirty) && !fileUserName.valid}" />
                    <span class="invalid-feedback" *ngIf="fileUserName.invalid && (fileUserName.touched || fileUserName.dirty) ">
                        <span *ngIf="fileUserName.errors.required">Username is required</span>
                        <span *ngIf="fileUserName.errors.maxlength">The maximum length is 128</span>
                    </span>
                </div>
                <div class="form-group">
                    <label for="txtPassword">Password:</label>
                    
                    

                    <div class="input-group input-group-sm">
                        <input autocomplete="false" type="text" class="form-control" id="txtPassword" placeholder="Enter password"  formControlName="filePassword"
                            [ngClass]="{'is-invalid':(filePassword.touched || filePassword.dirty) && !filePassword.valid}" />
                        <div class="input-group-prepend">
                            <button type="button" class="btn btn-link btn-sm input-group-text" (click)="getNewPassword()" title="Generate password">
                                <fa-icon [icon]="generateIcon" ></fa-icon>
                            </button>
                            <button type="button"  class="btn btn-link btn-sm input-group-text" (click)="showGenerateSettings()" title="Password Generation Settings">
                                <fa-icon [icon]="settingsIcon" ></fa-icon>
                            </button>
                           
                        </div>
                       
                        <span class="invalid-feedback" *ngIf="filePassword.invalid && (filePassword.touched || filePassword.dirty) ">
                            <span *ngIf="filePassword.errors.required">Password is required</span>
                            <span *ngIf="filePassword.errors.maxlength">The maximum length is 128</span>
                        </span>
                    </div>

                </div>
                <div id="divGenerateSettings" class="bg-light  border rounded shadow-sm p-2" >
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="cbAllowNumbers"  [(ngModel)]="allowNumbers" [ngModelOptions]="{standalone: true}">
                        <label class="custom-control-label" for="cbAllowNumbers">Allow numbers</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="cbAllowSymbols"  [(ngModel)]="allowSymbols" [ngModelOptions]="{standalone: true}">
                        <label class="custom-control-label" for="cbAllowSymbols">Allow symbols</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="cbAllowUpercase"  [(ngModel)]="allowUpercase" [ngModelOptions]="{standalone: true}">
                        <label class="custom-control-label" for="cbAllowUpercase">Allow uppercase</label>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label small">Password length</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="inputPassword" placeholder="Password length" [(ngModel)]="passwordLength" [ngModelOptions]="{standalone: true}">
                        </div>
                      </div>
                      

                    <div>
                        <span class="form-text text-muted small">
                            Set the desired values and click on the button again to generate the password
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtNotes">Notes:</label>
                    <textarea autocomplete="false" rows="4" class="form-control" id="txtNotes" placeholder="Enter notes"  formControlName="fileNotes"
                        [ngClass]="{'is-invalid':(fileNotes.touched || fileNotes.dirty) && !fileNotes.valid}">
                    </textarea>
                    <span class="invalid-feedback" *ngIf="fileNotes.invalid && (fileNotes.touched || fileNotes.dirty) ">
                        <span *ngIf="fileNotes.errors.required">Notes are required</span>
                        <span *ngIf="fileNotes.errors.maxlength">The maximum length is 128</span>
                    </span>
                </div>
        </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" [disabled]="!fileForm.valid"(click)="savePassword()" >Save</button>
                </div>
            </div>
        </div>
    </form>

</div>


<div class="modal" tabindex="-1" role="dialog" id="divFolder">
    <form novalidate (ngSubmit)="saveFolder()" [formGroup]="folderForm" autocomplete="anyrandomstring">

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add Folder</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
                <div class="form-group">
                    <label for="txtFolderName">Folder name*:</label>
                    <input autocomplete="false" type="url" class="form-control" id="txtUrl" placeholder="Enter folder name"  formControlName="folderName"
                        [ngClass]="{'is-invalid':(folderName.touched || folderName.dirty) && !folderName.valid}" />
                    <span class="invalid-feedback" *ngIf="folderName.invalid && (folderName.touched || folderName.dirty) ">
                        <span *ngIf="folderName.errors.required">Folder name is required</span>
                        <span *ngIf="folderName.errors.maxlength">The maximum length is 128</span>
                    </span>
                </div>
                
                <div class="form-group">
                    <label for="txtNotes">Notes:</label>
                    <textarea autocomplete="false" rows="4" class="form-control" id="txtNotes" placeholder="Enter notes"  formControlName="folderNotes"
                        [ngClass]="{'is-invalid':(folderNotes.touched || folderNotes.dirty) && !folderNotes.valid}">
                    </textarea>
                    <span class="invalid-feedback" *ngIf="folderNotes.invalid && (folderNotes.touched || folderNotes.dirty) ">
                        <span *ngIf="folderNotes.errors.required">Notes are required</span>
                        <span *ngIf="folderNotes.errors.maxlength">The maximum length is 128</span>
                    </span>
                </div>
        </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" [disabled]="!folderForm.valid" (click)="saveFolder()" >Save</button>
                </div>
            </div>
        </div>
    </form>

</div>




<div class="modal" tabindex="-1" role="dialog" id="divSharePassword">
        <form novalidate autocomplete="anyrandomstring">
    
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Share Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    
                <div class="form-row">
                    <div class="col">
                        <div>
                            <small id="passwordHelpBlock" class="form-text text-muted">
                                Type the BlockstackId of the user to whom you want to share the encrypted post and press Share button.
                            </small> 
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Blockstack Id</span>
                            </div>
                            <input type="text" class="form-control"  aria-label="Url to share" [(ngModel)]="blockstackIdToShare" [ngModelOptions]="{standalone: true}" #blockstackIdToShareinput>
                            <div class="input-group-append">
                                <button class="input-group-text" type="button" (click)="seachPKBlockstackId(1)">Share</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </form>
    
</div>