.center-div {
   
   
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    width: 30%;
    opacity: .4;
}



  .manita{
    cursor: pointer;
}

.btn-outline-primary:hover{
  background-color: #3FA9F5;
}

.btn-outline-primary{
  border-color: #3FA9F5;
}