<!-- Header -->
<header class="masthead" id="headSite" name="headSite">
    <div class="container-fluid" >
      <div class="intro-text" >
        <img class="img-fluid" src="/assets/IconoBig.png" alt="Encrypted Box" width="200"  >
          
        <div class="intro-heading ">Encrypted Box</div>
        
        <div class="intro-lead-in">Great Decentralized Password Manager!</div>
        <br />

        <!-- <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Learn More</a> -->
       <div >
            <button class="btn btn-outline-primary  my-2 my-sm-0 btn-xl" type="button" (click)="signIn()" *ngIf="!isSignIn" >Sign In with Blockstack</button>
            <br />
            <br />
            <!-- <div class="font-weight-bold" >Support us on Product Hunt!</div>
            <a href="https://www.producthunt.com/posts/dmy-blog?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-dmy-blog" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=157734&theme=light" alt="dMy Blog - A decentralized blog maker | Product Hunt Embed" style="width: 250px; height: 54px;" width="250px" height="54px" /></a> -->
        </div>
        
        
      </div>
    </div>
  </header>


  <!-- Services -->
  <section class="page-section" id="features" name="features">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Features</h2>
              <h3 class="section-subheading text-muted"></h3>
            </div>
          </div>
          <div class="row py-5">
            <div class="col-md-8">
                <h3 class="display-4 text-info">Decentralized</h3>
                <p class="font-weight-ligh">Decentralized Apps are not controlled by any single authority. Users own their identities and data. And most importantly, Encrypted Box does not save user data.</p>
            </div>
           
            <div class="col-md-4 text-center">
              <img class="img-fluid" src="/assets/DescentralizedColor.png" alt="Encrypted Box" width="250"  >

            </div>  
            
          </div>

          <div class="row py-5">
                <div class="col-md-4 text-center">
                  <img class="img-fluid" src="/assets/blockstack.png" width="150" height="150" alt="Encrypted Box"  >
    
                </div>  
                <div class="col-md-8">
                    <h3 class="display-4 text-info">Blockstack ID</h3>
                    <p class="font-weight-ligh">Blockstack ID provides user-controlled login and storage that enable you to take back control of your identity and data. It's blockchain-based security and encryption.</p>
                </div>
          </div>
          <div class="row py-5">
                <div class="col-md-8">
                    <h3 class="display-4 text-info">Storage</h3>
                    <p class="font-weight-ligh">Encrypted Box allows you to store your passwords and notes securely.</p>
                </div>
                
                <div class="col-md-4 text-center">
                  <img class="img-fluid" src="/assets/ParaQueSirve.png" alt="Encrypted Box" width="250"  >
    
                </div>  
          </div>
    
          <div class="row py-5">
            <div class="col-md-4 text-center">
              <img class="img-fluid" src="/assets/Compartir.png" width="150" height="150" alt="Encrypted Box"  >

            </div>  
            <div class="col-md-8">
                <h3 class="display-4 text-info">Share your secrets</h3>
                <p class="font-weight-ligh">
                    If you need to share a note or password, you only need to have the recipient's Blockstack ID and Encrypted Box will generate a file that no one but the recipient can read.
                </p>
            </div>
          </div>

          <div class="row py-5">
            <div class="col-md-8">
                <h3 class="display-4 text-info">Encrypted</h3>
                <p class="font-weight-ligh">All information stored in the Encrypted Box is encrypted. When you share a file, the information is decrypted and a new file is generated that is encrypted with the recipient's public key so that only the recipient can access its content.</p>
            </div>
            
            <div class="col-md-4 text-center">
              <img class="img-fluid" src="/assets/Seguridad.png" alt="Encrypted Box" width="250"  >

            </div>  
          </div>

          <div class="row py-5">
           
            <div class="col-md-4 text-center">
              <img class="img-fluid" src="/assets/GIFT.png" alt="Encrypted Box" width="250"  >

            </div> 
            <div class="col-md-8">
              <h3 class="display-4 text-info">Ad free</h3>
              <p class="font-weight-ligh">Access to Encrypted Box will remain free and without ads so you can enjoy a clean and intuitive interface. You can support us by following in our social networks, with likes and telling us that we can improve!</p>
          </div>
           
      </div>

        </div>
      </section>
    
      <section class="page-section bg-dark" >
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase text-light">Contact Us!</h2>
              <h3 class="section-subheading text-muted"></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-lg-2"></div>
            
            <div class="col-sm-12 col-lg-8">
              <app-contact-us></app-contact-us>
            </div>
    
            <div class="col-sm-12 col-lg-2"></div>
          </div>
        </div>
      </section>
      
<div class="footer">
        <div class="container">
         
          <div class="row ">
            <div class="col-md-3">
      
            </div>
            <div class="col-md-6">
                <a href="https://twitter.com/encryptedbox_" target="_blank" class="manita">
                  <img src="assets/twitter.png" alt="">
                </a>
                <a href="https://www.facebook.com/encryptedbox" target="_blank" class="px-5 manita" >
                  <img src="assets/facebook.png" alt="">
                </a>
                <a href="https://github.com/betosmith2000/encryptedbox" target="_blank" class="manita" >
                  <img src="assets/github.png" alt="">
                </a>
              <br>
              <div class="small pt-1">Icons designed by <a href="https://www.flaticon.es/autores/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></div>
            </div>
            <div class="col-md-3">
             
            </div>
          </div>
         
        </div>
      </div>
      
      